{
  "presets": [
    ["es2015", {"modules": "commonjs"}],
    "stage-2",
    "react"
  ],
  "env": {
    "production": {
      "presets": ["react-optimize"]
    }
  },
  "plugins": [
    "react-hot-loader/babel"
  ]
}
